In [1]:
import create_data

In [2]:
data=create_data.daata()

In [10]:
columns=data[0].split(',')

In [11]:
columns

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [19]:
data=data[1:]

In [20]:
data_new=[]
for i in data:
    data_new.append(i.split(','))

In [23]:
import pandas as pd

In [24]:
df=pd.DataFrame(data_new,columns=columns)

In [25]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-19,1190.089966,1206.989990,1190.089966,1198.449951,1198.449951,1231600
1,2019-08-20,1195.250000,1196.060059,1182.109985,1182.689941,1182.689941,915500
2,2019-08-21,1193.150024,1199.000000,1187.430054,1191.250000,1191.250000,740700
3,2019-08-22,1194.069946,1198.011963,1178.579956,1189.530029,1189.530029,947500
4,2019-08-23,1181.989990,1194.079956,1147.750000,1151.290039,1151.290039,1687000
5,2019-08-26,1157.260010,1169.469971,1152.959961,1168.890015,1168.890015,1226100
6,2019-08-27,1180.530029,1182.400024,1161.449951,1167.839966,1167.839966,1077200
7,2019-08-28,1161.709961,1176.420044,1157.300049,1171.020020,1171.020020,802000
8,2019-08-29,1181.119995,1196.060059,1181.119995,1192.849976,1192.849976,1088400
9,2019-08-30,1198.500000,1198.500000,1183.802979,1188.099976,1188.099976,1129800
10,2019-09-03,1177.030029,1186.890015,1163.199951,1168.390015,1168.390015,1479900
11,2019-09-04,1176.709961,1183.479980,1171.000000,1181.410034,1181.410034,1068900
12,2019-09-05,1191.530029,1213.040039,1191.530029,1211.380005,1211.380005,1408100
13,2019-09-06,1208.130005,1212.015015,1202.521973,1204.930054,1204.930054,1072100
14,2019-09-09,1204.000000,1220.000000,1192.619995,1204.410034,1204.410034,1471900
15,2019-09-10,1195.150024,1210.000000,1194.579956,1206.000000,1206.000000,1260100
16,2019-09-11,1203.410034,1222.599976,1202.199951,1220.170044,1220.170044,1307000
17,2019-09-12,1224.300049,1241.859985,1223.020020,1234.250000,1234.250000,1725900
18,2019-09-13,1231.349976,1240.880005,1227.010010,1239.560059,1239.560059,1301400
19,2019-09-16,1229.520020,1239.560059,1225.609985,1231.300049,1231.300049,1053300
20,2019-09-17,1230.400024,1235.000000,1223.689941,1229.150024,1229.150024,955100
21,2019-09-18,1227.510010,1235.609985,1216.530029,1232.410034,1232.410034,1135100
22,2019-09-19,1232.060059,1244.439941,1232.020020,1238.709961,1238.709961,996000
23,,None,None,None,None,None,None

In [26]:
data_new

[['2019-08-19',
  '1190.089966',
  '1206.989990',
  '1190.089966',
  '1198.449951',
  '1198.449951',
  '1231600'],
 ['2019-08-20',
  '1195.250000',
  '1196.060059',
  '1182.109985',
  '1182.689941',
  '1182.689941',
  '915500'],
 ['2019-08-21',
  '1193.150024',
  '1199.000000',
  '1187.430054',
  '1191.250000',
  '1191.250000',
  '740700'],
 ['2019-08-22',
  '1194.069946',
  '1198.011963',
  '1178.579956',
  '1189.530029',
  '1189.530029',
  '947500'],
 ['2019-08-23',
  '1181.989990',
  '1194.079956',
  '1147.750000',
  '1151.290039',
  '1151.290039',
  '1687000'],
 ['2019-08-26',
  '1157.260010',
  '1169.469971',
  '1152.959961',
  '1168.890015',
  '1168.890015',
  '1226100'],
 ['2019-08-27',
  '1180.530029',
  '1182.400024',
  '1161.449951',
  '1167.839966',
  '1167.839966',
  '1077200'],
 ['2019-08-28',
  '1161.709961',
  '1176.420044',
  '1157.300049',
  '1171.020020',
  '1171.020020',
  '802000'],
 ['2019-08-29',
  '1181.119995',
  '1196.060059',
  '1181.119995',
  '1192.849976',
  '1192.849976',
  '1088400'],
 ['2019-08-30',
  '1198.500000',
  '1198.500000',
  '1183.802979',
  '1188.099976',
  '1188.099976',
  '1129800'],
 ['2019-09-03',
  '1177.030029',
  '1186.890015',
  '1163.199951',
  '1168.390015',
  '1168.390015',
  '1479900'],
 ['2019-09-04',
  '1176.709961',
  '1183.479980',
  '1171.000000',
  '1181.410034',
  '1181.410034',
  '1068900'],
 ['2019-09-05',
  '1191.530029',
  '1213.040039',
  '1191.530029',
  '1211.380005',
  '1211.380005',
  '1408100'],
 ['2019-09-06',
  '1208.130005',
  '1212.015015',
  '1202.521973',
  '1204.930054',
  '1204.930054',
  '1072100'],
 ['2019-09-09',
  '1204.000000',
  '1220.000000',
  '1192.619995',
  '1204.410034',
  '1204.410034',
  '1471900'],
 ['2019-09-10',
  '1195.150024',
  '1210.000000',
  '1194.579956',
  '1206.000000',
  '1206.000000',
  '1260100'],
 ['2019-09-11',
  '1203.410034',
  '1222.599976',
  '1202.199951',
  '1220.170044',
  '1220.170044',
  '1307000'],
 ['2019-09-12',
  '1224.300049',
  '1241.859985',
  '1223.020020',
  '1234.250000',
  '1234.250000',
  '1725900'],
 ['2019-09-13',
  '1231.349976',
  '1240.880005',
  '1227.010010',
  '1239.560059',
  '1239.560059',
  '1301400'],
 ['2019-09-16',
  '1229.520020',
  '1239.560059',
  '1225.609985',
  '1231.300049',
  '1231.300049',
  '1053300'],
 ['2019-09-17',
  '1230.400024',
  '1235.000000',
  '1223.689941',
  '1229.150024',
  '1229.150024',
  '955100'],
 ['2019-09-18',
  '1227.510010',
  '1235.609985',
  '1216.530029',
  '1232.410034',
  '1232.410034',
  '1135100'],
 ['2019-09-19',
  '1232.060059',
  '1244.439941',
  '1232.020020',
  '1238.709961',
  '1238.709961',
  '996000'],
 ['']]